<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68885411226-t49go53uodgjmtrni2j4aehq9jj04odq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68885411226-t49go53uodgjmtrni2j4aehq9jj04odq</string>
	<key>API_KEY</key>
	<string>AIzaSyDo77PmyeKdXpqG4Al-oK_R9nUYVhB5854</string>
	<key>GCM_SENDER_ID</key>
	<string>68885411226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-eeeb5</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-eeeb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68885411226:ios:de3a70f0c82bf14dbdb623</string>
</dict>
</plist>